<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <a href="https://www.instagram.com/vinay_thakor._/"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <i class="fa-brands fa-x-twitter"></i>
    </div>
    <div class="f-comp">&copy;Wanderhost Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      &nbsp;&nbsp;&nbsp;
      <a href="/terms">Terms & Conditions</a>
      &nbsp;&nbsp;&nbsp;
      <a href="https://github.com/vinay-th/">Made by Vinay🦅</a>
    </div>
  </div>
</footer>
